.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 92px 50px 96px;
  background-color: #fff;
}

.header__menu-list {
  display: flex;
  gap: 33px;
  list-style: circle;
}

.header__menu-list .header__menu-item_active {
  list-style: none;
}

.header__menu-item {
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}

.header__menu-link {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.header__menu-link_active {
  border: none;
}

.header__logo {
  display: block;
  width: 132px;
}

.header__logo-image {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.contact-info {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
}

.header__contact-info {
  justify-self: end;
  max-width: 240px;
}

.contact__link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.cover {
  width: 100%;
  min-height: 757px;
  padding: 165px 50px 50px;
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/cover.jpg") no-repeat center / cover;
}

.cover__title {
  margin-bottom: 106px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 30px;
  text-align: center;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  padding-top: 19px;
  text-align: center;
}

.aligned-text_right {
  padding-top: 20px;
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.description__text {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  text-transform: uppercase;
}

.letter-spacing-extended {
  word-spacing: 19px;
}

.letter-spacing-extended-less {
  word-spacing: 18px;
}

.description__button {
  min-width: 256px;
  border: 1px solid #fff;
  padding: 12px 31px 11px;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.lots {
  padding: 180px 24px 120px;
  background-color: #fff;
}

.loats__title {
  margin-bottom: 26px;
  padding-left: 40px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots-section__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  margin-bottom: 30px;
  list-style: none;
}

.lots-section__card-item {
  flex-grow: 1;
  width: 334px;
  max-width: 100%;
  min-height: 596px;
  padding: 48px 40px;
}

.card_type_film {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/card-lot-01.jpg") no-repeat center / cover;
}

.card_type_book {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/card-lot-02.jpg") no-repeat center / cover;
}

.card_type_picture {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/card-lot-03.jpg") no-repeat center / cover;
}

.lots-section__card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card__title {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.19;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  padding-left: 40px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding: 35px 24px 181px;
  background-color: #fff;
}

.about__logo {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 100%;
  max-width: 148px;
}

.about__content {
  padding-top: 100px;
}

.about__title {
  margin-bottom: 100px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 693px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: start;
  padding: 0 50px 82px;
}

.footer__contact-info {
  display: flex;
  flex-direction: column;
  justify-self: start;
  gap: 1px;
  max-width: 264px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  list-style: none;
}

.footer__menu-item {
  color: #000;
  font-weight: 400;
  font-size: 18px;
}

.footer__menu-link {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.footer__menu-link_active {
  border: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-self: end;
  align-items: center;
  gap: 48px;
  list-style: none;
}